html { 
    overflow: hidden; 
}
body {
    background: #181717;
}

@font-face {
 font-family:vt323;
 src:url(VT323.ttf) format("truetype")
}

svg:hover, img:hover{
  transition: .4s;
  opacity: .3;
  
}

h1, h3 {
  font-family: vt323;
  font-size: 5em;
  color: wheat;
}

h4 {
  font-family: vt323;
  color: wheat;
  font-size: 3em;
}

svg, img {
  color: #fff;
  width: 90px;
  height: 90px;
  filter: drop-shadow(0px 0px 10px wheat);
  border-radius:50%;
}

a{
  margin: 25px;
  position: relative;
  left: calc(50% - 200px);
  top: auto;
}

h1{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(1px);
  }
  4%,7%{
    transform: translate(-2px) skew(1deg);
  }
}
