body {
    background: black;
}

@font-face {
 font-family:vt323;
 src:url(VT323.ttf) format("truetype")
}

svg:hover{
  transition: .4s;
  opacity: .3;
}

h1, h3 {
  font-family: vt323;
  font-size: 5em;
  color: wheat;
}

svg {
  color: #fff;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 0px 10px wheat);
  position: relative;
  left: 45%;
  top: 50%;
}
a {
  margin: 25px;
}
