body {
    background: #181717;
}

@font-face {
 font-family:vt323;
 src:url(VT323.ttf) format("truetype")
}

svg:hover{
  transition: .4s;
  opacity: .3;
}

h1, h3 {
  font-family: vt323;
  font-size: 5em;
  color: wheat;
}

h4 {
  font-family: vt323;
  color: wheat;
  font-size: 3em;
}

svg {
  color: #fff;
  width: 55px;
  height: 55px;
  filter: drop-shadow(0px 0px 10px wheat);
}

a{
  margin: 25px;
  position: relative;
  left: 44%;
  top: 50%;
}

