/* ============= Animation background ========= */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 2s;
  left: 50vw;
  top: 10vh;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 5% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@font-face {
  font-family: "sanas"; 

  src: url("../sanas.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
  background: linear-gradient(132deg, #FC415A, #731bc5, #212335);
  background-size: 400% 500%;
  animation: Gradient 20s ease infinite;
  position: relative;
  width: 102%;
  height: 102%;
  overflow: hidden;
  padding:0;

}

.for-style {
  color: #ffffff;
}

img{
  color: #fff;
  list-style: none;
  transition: .3s;
  text-decoration: none;
  border-radius: 20px 10px 5px 0;
  width: 100px;

}

img:hover{
  opacity: .3;
  transform: rotate(20deg);
}
p{
  color: #fff;
  list-style: none;
  transition: .3s;
  font-family: "sanas";
  text-decoration: none;
  color: #EFEEF5;
}
p:hover{
  opacity: .3;
}
h4 {
  display: inline-block;
  margin: 30px;
  font-family: "sanas";
}
h1 {
  color: white;
  font-family: "sanas";
  font-size: 48px;
  align-content: center;
}

body, a:hover
  {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress !important;
  } 
}
